body {
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFEEAD;
    color: #A66E38;
  }
  .game-container {
    text-align: center;
    width: 90%;
    max-width: 600px;
  }
  .board, .inventory {
    padding: 15px;
    margin: 10px auto;
  }
  .board h2 {
    margin-bottom: 20px;
  }
  #english-slots, #kannada-letters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 5px;
  }
  .letter, .slot {
    font-size: 18px;
    height: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #a66e38;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #FFAD60;    
    border-radius: 12px;
  }
  .letter.incorrect {
    background-color: #a66e38 !important;
  }
  @media (max-width: 600px) {
    .letter, .slot {
      font-size: 16px;
      height: 50px;
    }
  }
  @media (max-width: 400px) {
    .letter, .slot {
      font-size: 14px;
      height: 45px;
    }
  }
